DOMINIO_PASSWORD=ALTERE_LOCALMENTE
DOMINIO_EXE=C:\Contabil\contabil.exe
OUTPUT_DIR=
LOG_PATH=
LOGIN_TIMEOUT=90
REPORT_TIMEOUT=1200
SAVE_TIMEOUT=180
OVERWRITE_PDF=True
CLOSE_DOMINIO_AFTER=False
EXPORT_RETRIES=3
